/* general styles and bootstrap overrides */
:root{
  --red: #f00;
}

html {
  font-size: 100%;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  min-width: 320px;
}

.bg-red {
  background-color: var(--red)
}