/* general styles and bootstrap overrides */
:root {
  --bg-color: #f4f5f6;
  --black: #000;
  --red: #f72210;
  --semi-dark-gray: #555;
  --title-color: rgba(3,3,3,.4);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  min-width: 320px;
}

.bg-red {
  background-color: var(--red)
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  max-width: 1310px;
}

/* wrapper */
@media (min-width: 576px) and (min-width: 992px){
  .main .container {
    width: 100%;
  }
}

/* top story definitions */
.top-story h4, .more-stories h4, .featured-stories h4, .related {
  font-weight: 700;
}

.top-story h4 {
  font-size: 22px;
}

.more-stories h4 {
  font-size: 17px;
}

.featured-stories h4 {
  font-size: 20px;
}

.related {
  font-size: 19px;
}

.related li {
  padding: 10px 0;
}

.section-with-links a {
  color: var(--black);
  font-weight: inherit;
  text-decoration: none;
}

.featured-stories .related li a {
  font-size: 17px;
}

.featured-stories article:first-of-type .related li a {
  color: var(--red);
}

@media (min-width: 992px) {
  .featured-stories article:first-of-type .related li a {
    color: var(--black);
  }

  .featured-stories article:last-of-type .related {
    border-bottom: 1px solid #dee2e6!important;
  }
}

.summary {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
}

/* opinion column */
.opinion {
  margin-bottom: 2.5rem;
}

.columist-image {
  height: 63px;
  width: auto;
}

.opinion .info {
  font-size: 17px;
  font-weight: 700;
}

.opinion .info a {
  color: var(--black);
  font-weight: 700;
}

.opinion .info .byline {
  color: var(--semi-dark-gray);
  font-size: 14px;
  text-transform: uppercase;
}
