/* general styles and bootstrap overrides */
:root {
 --bg-color: #f4f5f6;
 --black: #000;
 --red: #f72210;
}

html {
 font-size: 100%;
}

body {
 background-color: var(--bg-color);
 color: #333;
 font-size: 13px;
 min-width: 320px;
}

.bg-red {
 background-color: var(--red)
}