/* default styles */
.main-nav {
	color: var(--white);
	display: flex;
	font-family: "Roboto", sans-serif;
}

.main-nav .date {
  margin-bottom: .625rem;
}

.main-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 2.5rem;
	margin-bottom: 0;
	position: relative;
	width: 100%;
}

.main-nav ul li {
	align-self: flex-start;
	color: var(--white);
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: -0.5px;
	margin: 0.5rem 0 0.5rem 0.5rem;
}

.main-nav ul li a {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1rem;
	text-transform: uppercase;
}

.main-nav .subscribe {
	background-color: var(--white);
	margin-right: 0;
}

.main-nav .brand svg {
  fill: var(--white);
  height: 1.25rem;
	width: 8.25rem;
}

.main-nav .subscribe a {
	color: var(--red);
	padding: 0 0.25rem;
}

.main-nav .subscribe a::after {
	border-style: solid;
  border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: .65em;
	left: 0;
	position: relative;
	top: 0.25em;
	transform: rotate(45deg);
	vertical-align: top;
  width: .65em;
  margin: 0.25rem 0;
  font-size: 0.875rem;
  margin-right: .25rem;
}

/* Large viewports and beyond */
@media (min-width: 992px) {

  .main-nav .brand svg {
    height: 3.75rem;
    width: 24.75rem;
  }

  .main-nav .subscribe a {
    padding: 0 0.75rem;
    line-height: 18px;
  }
  
  .main-nav .date span {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: -1px;
  }

  .main-nav ul li {
    font-size: 1.125rem;
  }
}
